{% extends "layout_staff.html" %}

{% block body %}
<script src="{{ url_for('static', filename='js/mypage.js') }}"></script>
<style>
    input[type="submit"]:hover{
    all:initial;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color:#f79e45;
    opacity: 0.3;
    transition: 0.3s;
    border-radius: 10px;
    align-items: center;
    color:black;
    cursor: pointer;
    }

    input[type="submit"]{
    all:initial;
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    right: 0;
    transition: 0.3s;
    align-items: center;
    }

    input.check{
        height: 140px;
        align-items: center;
        background-color:#f5d3b0;
        border-radius: 10px;
        text-align: right;
        opacity: 0.3;
        color: #130a01;
    }
    input.check[type="submit"]{
        height: 140px;
        align-items: center;
        text-align: right;

    }
    
    div.conts{
        margin-top: 30px;
    }
    
    form{
    }

    [value="All"]:checked ~ .targets [data-category] {
      display: block;
    }
    [value="1"]:checked ~ .targets .conts:not([data-category~="1"]) {
      display: none;
    }
    [value="2"]:checked ~ .targets .conts:not([data-category~="2"]) {
      display: none;
    }
    [value="3"]:checked ~ .targets .conts:not([data-category~="3"]) {
      display: none;
    }
    [value="4"]:checked ~ .targets .conts:not([data-category~="4"]) {
      display: none;
    }
    [value="5"]:checked ~ .targets .conts:not([data-category~="5"]) {
      display: none;
    }

    .radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline__label {
    background: #f9b673;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
}

.radio-inline__label:hover {
    background: #f4e6d9;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
    cursor: pointer;
}

.radio-inline__input:checked + .radio-inline__label {
    background: #f07c07;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline__input:focus + .radio-inline__label {
    outline-color: #0b172a;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}





</style>


<!-- メインコンテンツ領域 -->
<main>
    <div class="container">
      <div style="display: flex;">
        <h1>
            最新のイベント一覧<hr>

        </h1>
      </div>
      <input class="radio-inline__input" type="radio" name="categories" id="All" value="All" checked>
      <label class="radio-inline__label" for="All"> 全て </label>
      {% for event_category in mst_event_category %}
      <input class="radio-inline__input" type="radio" name="categories" id={{event_category.event_category_id}} value={{event_category.event_category_id}}>
      <label class="radio-inline__label" for="{{event_category.event_category_id}}"> {{event_category.event_category_name}}</label>
      {% endfor %}
      <div class="targets">
      {% if mst_event %}
      {% for event in mst_event %}
                <div class="conts" data-category={{event.event_category_id}}>
                  <form name="lp01_01" method="post">
                    <a class="mypage">
                      <div>
                        <img src={{event.event_img}} style="width: 130px;">
                      </div>

                      <div>
                        <div class="event_date">{{ event.event_date }}</div>
                        <div class="event_category_name">
                            {% for event_category in mst_event_category %}
                                {% if event.event_category_id == event_category.event_category_id %}
                                    {{ event_category.event_category_name }}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="event_name">{{ event.event_name }}</div>
                        <div class="event_place">{{ event.event_place }}</div>
                        <div class = "event_value">
                          {% if event.event_value == 0 or event.event_value == None %}
                            評価がありません
                          {% else %}
                            このイベントの評価：{{ event.event_value }}
                          {% endif %}   
                          </div>
                        <!-- hidden属性の項目 -->
                        <input name="event_category_id" type="hidden" value="{{ event.event_category_id }}">
                        <input name="event_name" type="hidden" value="{{ event.event_name }}">
                        <input name="event_place" type="hidden" value="{{ event.event_place }}">
                        <input name="event_id" type="hidden" value="{{ event.event_id }}">
                        <input name="event_overview" type="hidden" value="{{ event.event_overview }}">
                        <input name="event_date" type="hidden" value="{{ event.event_date }}">
                        <input name="event_category_name" type="hidden" value="{{ event_category_name }}">

                    </div>
                      <input class="check" type="submit" formaction="{{url_for('event_info')}}" value="＞詳細を見る"/>

                    </a>  
                  </form>
                </div>

      {% endfor %}
      {% else %}
          イベントが存在しません。
      {% endif %}
      </div>
  </div>
</main>
{% endblock %}