{% extends "layout_staff.html" %}
{% block body %}

<a href="{{url_for('user_user_top')}}">マイページ</a>><a href="{{url_for('user_info')}}">会員情報</a>>変更</div>
<main>
  <div class="container">
    <h1 id="main_title">
      <!-- ここに ページタイトルを表示する -->
    </h1>
    <h2 id="main_sub_title">
  会員情報変更
  </h2>

  <p> ※全ての項目の入力が必須です。</p>
  <form name="inputForm" method="post">
    <div id="form_area" class="base_pattern">
      <p>アカウント名：</p>
      <p><input name="mst_customer.customer_account" type="text" value="{{ mst_customer.customer_account }}"
          readonly="readonly"></p>

      <p>パスワード<span class="required">（必須）</span>：</p>
      <p><input name="mst_customer.customer_password" type="password" value="{{ mst_customer.customer_password }}"></p>

      <p>会員名<span class="required">（必須）</span>：</p>
      <p><input name="mst_customer.customer_name" type="text" value="{{ mst_customer.customer_name }}"></p>

      <p>郵便番号</p>
      <p><input name="mst_customer.customer_zipcode" type="tel" value="{{ mst_customer.customer_zipcode }}"></p>

      <p>住所</p>
      <p><input name="mst_customer.customer_address" type="text" value="{{ mst_customer.customer_address }}"></p>

      <p>電話番号：</p>
      <p><input name="mst_customer.customer_phone" type="tel" value="{{mst_customer.customer_phone }}"></p>

      <p>生年月日：</p>
      <p><input name="mst_customer.customer_birth" type="date" value="{{ mst_customer.customer_birth }}"></p>



      <!-- hidden属性の項目 -->
      <input name="mst_customer.customer_id" type="hidden" value="{{ mst_customer.customer_id }}">
      <input name="mst_customer.customer_payment" type="hidden" value="{{ mst_customer.customer_payment }}">
    </div>


    <div buttons>
      <input type="submit" class=".go_next_button" value="変更する"
      formaction="{{url_for('user_info_check')}}">
      <input type="button" class=".go_next_button" value="変更しない"
        onClick="window.location.href=`{{url_for('user_info')}}`">
    </div>
  </form>
</main>

{% endblock %}